/* SECCION DOS */

.sl2{
    text-align: center;
    padding-top: 5vw;
}
.sl2 .titulo h2:nth-child(1){
     color: var(--gris);
     font-family: 'Poppins_Italic', sans-serif;
     font-size: 2vw;
}
.sl2 .titulo h2:nth-child(2){
     color: var(--azul2);
     font-family: 'Poppins_semibold', sans-serif;
     font-size: 2.5vw;
}
.sl2 hr{
    width: 40vw;
    margin: auto;
    border: none;
    border-top: 0.3vw solid var(--azul2);
}
.servicios{
    width: 100vw;
}

.articulos_3{
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2vw;
}

.articulos_3 article{
    width: 25%;
    min-width: 300px;
    text-align: center;
    transition: all 0.6s ease-out;
    position: relative;
}

.articulos_3 article a img:nth-child(2){
    width: 85%;
    margin: auto;
}


#p2 .articulos_3 article:nth-child(1) p{
    background: linear-gradient(0deg, var(--rojoOscuro) 40%, transparent 100%);
}
#p2 .articulos_3 article:nth-child(2) p{
    background: linear-gradient(0deg, var(--verde) 40%, transparent 100%);
}
#p2 .articulos_3 article:nth-child(3) p{
    background: linear-gradient(0deg, var(--morado) 40%, transparent 100%);
}

#p2 .articulos_3 article img:nth-child(2){
    border-radius: 2.5vw;
    padding: 0.6vw 0.6vw 5vw 0.6vw;
    border: 0.1vw solid var(--negro60);
}

#p2 .articulos_3 p{
    font-size: 3vw;
}

#p2{
    padding-bottom: 12vw;
}

#p2 .articulos_3 .voltereta{
    width: 25%;
    transform: translateY(48%);
}

#p2 .articulos_3 article:hover .voltereta{
    animation: brinco 0.8s forwards;
}

@keyframes brinco {
        0% {
                transform: translateY(0vw);
            }
        50%{    
                transform: rotate(-180deg);
            } 
        100%{               
                transform: translateY(250%);
            }
}

#p2 .articulos_3 article:hover{
    animation: sacudida 0.4s;
}

@keyframes sacudida {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px) rotate(-5deg);
    }
    50% {
      transform: translateX(5px) rotate(5deg);
    }
    75% {
      transform: translateX(-5px) rotate(-5deg);
    }
    100% {
      transform: translateX(0);
    }
  }

  #p2 .articulos_3 p{
    display: block;
    width: 20vw;
    min-width: 245px;
    margin-left: 10%;
    position: absolute;
    bottom: 0.1vw;
    border-radius: 0 0 2vw 2vw;
    padding-top: 8vw;
  }

  .servicioTexto{
    height: 3vw;
    display: block;
    margin: auto;
    margin-bottom: 2.5vw;
  }