/* MENU */

header {
    z-index: 90;
    position: fixed;
    width: 100%;
    font-size: 1.2vw;
    transition: all 0.2s ease-out;
    padding: 0vw 2vw;
    background: var(--negro_transparente);
}

header.abajo {
    background-color: var(--negro90);
    border-bottom: 0.6vw solid var(--beigeClaro);
}

.menuFont {
    color: var(--blanco);
}

nav, .modal{
    font-family: 'Futura_Light_BT', sans-serif;
}

.tienda {
    color: var(--blanco);
    font-family: 'Futura_Heavy_BT', sans-serif;
}

.menuActivo {
    background-color: var(--cian);
    border-radius: 6px;
    padding: 0px 5px;
    font-family: 'Futura_Heavy_BT', sans-serif;
}

.menuActivoTienda {
    background-color: var(--blanco);
    border-radius: 6px;
    padding: 0px 5px;
}

.linea {
    border-left: 1px solid var(--blanco);
    height: 40px;
    margin: 0px 21px 0px 3px;
}

.logoMenu img{
    height: 4.3vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.submenu{
    background-color: var(--beigeClaro);
    text-align: center;
}