/* MENU */

header {
    z-index: 90;
    position: fixed;
    width: 100%;
    font-size: 1.2vw;
    transition: all 0.2s ease-out;
}

header.abajo {
    background-color: var(--negro);
}

.menuFont {
    color: var(--blanco);
}

nav, .modal{
    font-family: 'HelveticaLTStd-BoldCond', sans-serif;
}

.tienda {
    color: var(--amarillo);
}

.menuActivo {
    background-color: var(--amarillo);
    border-radius: 6px;
    padding: 0px 5px;
}

.menuActivoTienda {
    background-color: var(--blanco);
    border-radius: 6px;
    padding: 0px 5px;
}

.linea {
    border-left: 1px solid var(--blanco);
    height: 40px;
    margin: 0px 21px 0px 3px;
}

.logoMenu img{
    height: 2.5vw;
}