/* GENERAL */

body{
    background: fixed;
    background-image: url(../img/fondo@3x.png);
    background-size: 100vw;
    background-position: center;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  @keyframes sacudida {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px) rotate(-5deg);
    }
    50% {
      transform: translateX(5px) rotate(5deg);
    }
    75% {
      transform: translateX(-5px) rotate(-5deg);
    }
    100% {
      transform: translateX(0);
    }
  }

/* RESPONSIVE */

#p5 {
  width: 100vw;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(152,174,255,1) 72.5%, transparent 72.5%);
}

#p5 a img{
  width: 100vw;
}

#p5:hover img{
  transform: scale(1.03);
}

.juegoDinaMico{
  width: 5vw;
  position: absolute;
  top: 30%;
  left: -2.5vw;
  z-index: 9;
  transform: rotate(90deg);
  transition: all 0.6s ease-out;
  cursor: pointer;
}

.juegoDinaMico img{
  width: 100%;
}

.juegoDinaMico:hover{
  left: 0vw;
  transition: all 0.6s ease-out;
}

@media screen and (max-width: 991px){
    /* MENU */

    header{
        background-color: var(--negro);
        font-size: 3vh;
    }
    
    .linea{
        display: none;
    }

    .dropdown-menu{
        font-size: 3vh;
    }

    header li{
        text-align: center;
    }

    .btnPlataforma{
        width: 100%;
    }

    .margen{
        height: 55px;
        background-color: var(--negro);
    }
}