/* GENERAL */

body{
    background: fixed;
    background-image: url(../img/fondo@3x.png);
    background-size: 100vw;
    background-position: center;
    width: 100vw;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

/* RESPONSIVE */

#p5 {
  width: 100vw;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(152,174,255,1) 72.5%, transparent 72.5%);
}

#p5 a img{
  width: 100vw;
}

#p5:hover img{
  transform: scale(1.03);
}



@media screen and (max-width: 991px){
    /* MENU */

    header{
        background-color: var(--negro);
        font-size: 3vh;
    }
    
    .linea{
        display: none;
    }

    .dropdown-menu{
        font-size: 3vh;
    }

    header li{
        text-align: center;
    }

    .btnPlataforma{
        width: 100%;
    }

    .margen{
        height: 55px;
        background-color: var(--negro);
    }
}