#tienda{
    width: 100vw;
    padding-top: 5vw;
    position: relative;
}

.tiendaTitulo{
    width: 33vw;
    margin: auto;
    margin-bottom: 2vw;
}

.tiendaTitulo img{
    width: 100%;
}

.tiendaLeyenda{
    width: 70vw;
    height: 15vw;
    margin: auto;
    text-align: center;
    font-family: 'Poppins_Regular', sans-serif;
    font-size: 2.4vw;
    color: var(--blanco);
    background-image: url(../img/tiendaLeyenda@3x.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tiendaTxt{
    width: 60vw;
    margin: auto;
    font-family: 'Poppins_Regular', sans-serif;
    color: var(--negro);
    font-size: 1.63vw;
    text-align: center;
    margin-bottom: 5vw;
}

.tiendaTxt p strong{
    background-color: #E5F2D5;
}

.tiendaImagen{
    width: 100vw;
    height: 23.6vw;
    margin-bottom: 9vw;
    background-image: url(../img/tiendaHilo@3x.png);
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat;
    position: relative;
}

.tiendaImagen img{
    width: 15vw;
}

.imglibro{
    position: absolute;
    left: 15vw;
}

.imgjuegos{
    position: absolute;
    left: 42.5vw;
}

.imgofertas{
    position: absolute;
    right: 15vw;
}

.tiendaImagen div:hover{
    animation: sacudida 0.4s;
}

#proximamente{
    position: absolute;
    width: 20vw;
    top: 2vw;
    right: 5vw;
}

#proximamente img{
    width: 100%;
}