 #periodico h2 button{
    font-size: 1.6vw;
    font-family: 'Futura_Light_BT', sans-serif;
 }

 .accordion-body{
    font-family: 'Poppins_Medium', sans-serif;
    background: fixed;
    background-image: url(../../img/fondo@3x.png);
    background-size: 100vw;
    background-position: center;
    font-size: 1.3vw;
 }

 .img-thumbnail{
   width: 50%;
 }

 .accordion-body p{
   text-align: center;
 }

 .accordion-body a{
   color: #82D5E8;
 }

 .accordion-body h3{
  font-size: 1.9vw;
 }

 .elContacto{
  color: black;
  font-family: 'Poppins_Medium', sans-serif;
 }

 .elContacto svg{
  width: 2vw;
  height: 2vw;
  color: #A7DB77;
 }

 .video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
  margin-top: 0.6vw;
}
  
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
